{%extends 'projects/base.html'%}
{% load bootstrap4 %}
         {% block content %}
    <article class="">


        <form class="form" role="search" action="{% url 'search_results' %}">

         <div class="input-group">
           <input type="text" class="form-control" placeholder="Search Website by title" name="sites">
           <div class="input-group-btn">
             <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
           </div>
         </div>

       </form>

        </article>
		 {% for site in sites %}
	   <article class="media content-section">
         <img class="pic"  src="{{site.developer.profile.image.url}}" style="border-radius:50%; height: 50px; width:50px;" alt="Big Sur">
		 <div class="media-body">
		   <div class="article-metadata">
			 <a class="mr-2" href="#">{{ site.developer }}</a>
			 <small class="text-muted">{{ site.date_posted | date:"F d, Y" }}</small>
		   </div>
           <img class="card-img-top" src="{{ site.site_image.url}}" alt="Card image cap">
		   <h2><a class="article-title" href="{% url 'site-detail' site.id %}">{{ site.title }}</a></h2>
		   <p class="article-content">{{ site.description }}</p>
		 </div>
	   </article>
   {% endfor %}
         {% endblock %}
